body{
    background-color: #bababa;
    font-family: Tahoma;
    line-height: 1.5;
    font-size: 16px;
}
    
.title{
    font-size: 32px;
    color:#640b2a

}

h1{
    font-size: 45px;
    color:#640b2a
}

.card{
    width: 400px;
}

.pic{
    width: 400px;
}